{
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "eslint-config-prettier"],
  "parser": "@typescript-eslint/parser",
  "env": {
    "jest/globals": true,
    "node": true
  },
  "plugins": ["@typescript-eslint", "jest"]
}